.btn-blue {
 	@include button($white,$blue);
 	background-color: $blue;

 	&:hover {
 		color: $blue;
 		background-color: $white;
 		border: 2px solid $white;
 	}
 }
.btn-gray {
 	@include button($white,$gray);
 	background-color: $gray;

 	&:hover {
 		color: $blue;
 		background-color: $white;
 		border: 2px solid $white;
 	}
 }
.btn-default {
	background-color: $gray;
    color: $white;
    border-color: $gray;
    @include transition(0.3);
    @include box-shadow2();
    
    &:hover {
    	background-color: $lightgray;
	    color: $gray;
	    border-color: $lightgray;
    }
}
.btn-blue-1 {
    background-color: $blue;
    color: $white;
    border-color: $blue;
    @include transition(0.3);
    @include box-shadow2();
    
    &:hover {
        background-color: $lightblue;
        color: $white;
        border-color: $lightblue;
    }
}
.btn-blue-2 {
    @include button($blue,$blue);
    background-color: $white;

    &:hover,&:focus {
        color: $white !important;
        background-color: $blue !important;
        border: 2px solid $blue;
    }
 }
.btn-blue-3 {
    @include button($white,$white);
    background-color: $blue;

    &:hover {
        color: $blue;
        background-color: $white;
        border: 2px solid $white;
    }
 }