/* --- Navbar --- */
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
	color: $purple;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
	color: $purple;
}
.bottom-line {
	background-color: $purple;
}
/* --- Button --- */
.btn-purple, .btn-purple:focus
{
    border: 1px solid $purple;
    color: $white;
    background: none;
}
.btn-purple:hover {
    background: $purple;
    color: #fff;
}

.purpleSec {
	background-color: $purple;
}
.whiteSec {
    background-color: $white;
}
/* --- Nav Pills --- */
.nav-pills>li>a {
    @include radius(0px);
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    background: $purple;
    @include radius(0px);
}
/* --- Form --- */
.btn-submit, .btn-submit:hover, .btn-submit:focus
{
    background-color: transparent;
    border-radius: 60px;
    color: $purple;
    font-weight: 400;
    border: 1px solid $purple;
    font-size: 14px;
    padding: 6px 20px;
}
.form-control
{
    background-color: transparent;
    border-radius: 0px;
    color: $purple !important;
    border-color: $purple;
}
.form-control:focus {
    border-color: $purple;
}
/***********************************
homepage 
***********************************/
.header{
    background: url('../img/bg-banner02.jpg') no-repeat fixed;
    @include img-bg();
    position: relative;

    h2 {
    	position: relative;

    	&:before,&:after {
    		content: "";
    		position: absolute;
    		width: 60px;
    		height: 2px;
    		background: $white;
    		top: 50%;
		    transform: translateY(-50%);
    	}
    	&:before {
    		left: 0;
    	}
    	&:after {
    		right: 0;
    	}
    }
}
.header,.bg-color {
	min-height: 100vh;
}
#timeline {
	background-color: $flatwhite;
}
.register-home {
	h2 {
		text-transform: uppercase;
	}
}
.timeline-section {
    i {
        padding: 20px;
        background: $darkpurple;
        color: white;
        border-radius: 100%;
        
    }
}